/*
  Készítette: Chen Kevin 10.c
*/
/* TAGEK */
html{
  cursor: crosshair;
  scroll-behavior: smooth;
  user-select: none;
}

body{
    background-color: #35383f;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 90vh;
    font-size: 1.9vh;
}

footer .ver{
  position: fixed;
  bottom: 0;
  color: gray;
}

b{
  animation: szin 20s infinite;
  color: black;
  border-radius: 20px;
  padding: 2px 5px 2px 5px;
  font-weight: normal;
}

h1{letter-spacing: 3px;} 
p{text-align: justify;}
h3{pointer-events: none;}
#osszefoglalo h3, #rolunk h3{
  background-color: #838fad;
  padding: 5px;
  border-radius: 2px;
}

.nav-item{
  font-size: 13pt;
}

.news a{
  color: lightskyblue;
  text-decoration: none;
}
.news a:hover{
  color: darkcyan;
  transition: color 0.2s;
}

.box h1{
  text-align: center;
  text-shadow: 2px 2px 5px black;
  color: white;
}

/* OSZTALYOK */
.nav-item{
  background-color: #CEDDEB;
  padding: 5px 0 5px 0;
}
.nav-item:last-child{
  
  padding: 5px 20px 5px 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.nav-item:first-child{
  
  padding: 5px 0 5px 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navlinks a{
  color: rgb(0, 0, 0);
  transition: letter-spacing 0.4s, color 0.4s;
}
.navlinks a:hover{
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.w3-sidebar a:hover{
  background-color: #ffffff;
  letter-spacing: 2px;
}

.w3-sidebar a{
  color: black;
  text-decoration: none;
  transition: letter-spacing 0.4s, background-color 0.4s;
}

.w3-sidebar{
  background-color: #91b8dd;
  line-height: 40px;
}

.logo{
  width: 40px;
  position: absolute;
  top: 6px;
  right: 15px;
  transition: transform 0.6s, border-radius 0.6s;
}

.otl:hover, .logo:hover{
  border-radius: 10px;
  transform: scale(90%);
}

.otl{
  transition: transform 0.6s, border-radius 0.6s;
  width: 60px;
  position: absolute;
  top: 28px;
  right: 32px;
}

.box{
  background-color: #A7B7DE;
  border: solid 0px white;
  border-radius: 10px;
  animation: billeges 5s infinite;
  box-shadow: 2px 2px 5px rgb(48, 48, 48);
}

.container{color: white;}
.home{height: 100%;}
.hide{display: none;}

.kartya:hover{
  transform: scale(102%);
}

.kartya{
  animation: pattogas 3s;
  transition: transform 0.3s;
  background-color: white;
  height: 100%;
  border-radius: 20px;
}

.kartya-top{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #919fdd;
}

.kartya-img{
  border-radius: 100%;
  display: block;
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

.kartya-name{
  font-size: 14pt;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.kartya-text{
  text-align: center;
  padding: 0 10px 0 10px;
}

.title-author:hover, h2:hover{
  cursor: pointer;
}

.title-author{
  background-color: #A7B7DE;
  padding: 15px 10px 10px 10px;
  border: solid 0px white;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #658099;
  color: #35383f;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.sidebar-open{
  animation: open 1s forwards;
}

.sidebar-close{
  animation: close 1s forwards;
}

#panel1,#panel2,#panel3{display: none}

#mySidebar{
  width: 0;
}

/* ANIMACIOK, TORESPONTOK */

.arrow-up{transform:rotate(180deg);transition:transform 1s}
.arrow-down{transform:rotate(0deg);transition:transform 1s}

@keyframes open{100%{width: 100%;}}
@keyframes close{
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}

@keyframes arrow-up{
  0%{rotate:0deg}
  100%{rotate:180deg}
}

@keyframes arrow-down{
  0%{rotate:180deg}
  100%{rotate:0deg}
}

@keyframes billeges{
  0%{rotate: 3deg;}
  50%{rotate: -3deg;}
  100%{rotate: 3deg;}
}

@keyframes pattogas{
  0%{
    translate: 0 -40px;
  }
}

@keyframes szin{
  0%{background-color: #CEDDEB;}
  20%{background-color: #e2bbfd;}
  40%{background-color: #f49595;}
  60%{background-color: #f9eb97;}
  80%{background-color: #c6f9ac;}
  100%{background-color: #CEDDEB;}
}

@media screen and (min-width: 601px) {
  p {
    font-size: 16px;
  }
  h3{
    font-size: 22px;
  }
  .arrow{
    width: 30px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 13px;
    line-height: 22px;
  }
  b{
    padding: 1px 3px 1px 3px;
  }
  h3{
    font-size: 18px;
  }
  .arrow{
    width: 25px;
  }
}

