body{
    background-color: #35383f;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 90vh;
}

footer .ver{
  position: absolute;
  bottom: 0;
  color: gray;
}

h1{
  letter-spacing: 3px;
}

#temakorok p{
  text-align: justify;
}

.title-author, h2{
  background-color: #A7B7DE;
  padding: 15px 10px 10px 10px;
  border: solid 0px white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(48, 48, 48);
  text-shadow: 2px 2px 5px black;
  color: white;
  font-variant: small-caps;
}

.container {
  color: white;
}

.menu-img{
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.logo{
  width: 45px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.otl:hover{
  border-radius: 10px;
  transform: scale(90%);
  transition: transform 0.6s, border-radius 0.6s;
}

.otl{
  width: 60px;
  position: absolute;
  top: 32px;
  right: 32px;
}

.home{
  height: 100%;
}

.news a{
  color: lightskyblue;
  text-decoration: none;
}
.news a:hover{
  color: darkcyan;
  transition: color 0.2s;
}

.box h1, h1{
  text-align: center;
  text-shadow: 2px 2px 5px black;
  color: white;
}
.box{
  background-color: #A7B7DE;
  border: solid 0px white;
  border-radius: 10px;
  transform: rotate(3deg);
  box-shadow: 2px 2px 5px rgb(48, 48, 48);
}

.nav-mobile{
  position: relative;
  background-color: #8CA1A5;
}
.nav-item{
  background-color: #CEDDEB;
  padding: 5px 0 5px 0;
}
.nav-item:last-child{
  background-color: #CEDDEB;
  padding: 5px 20px 5px 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.nav-item:first-child{
  background-color: #CEDDEB;
  padding: 5px 0 5px 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navlinks a{
  color: rgb(0, 0, 0);
  transition: letter-spacing 0.4s, color 0.4s;
}
.navlinks a:hover{
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
}

.hide{
  display: none;
}

#panel1, #panel2, #panel3,
#panel4, #panel5, #panel6,
#panel7, #panel8, #panel9{
  display: none;
}